<nav class="open">
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Chatible</span>
    </div>
    <!-- <input type="text" id="remoteId" placeholder="enter Id you want to call" /> -->
    <!-- <h3 id="my-peerId">Your peerId: {{ peer.id }}</h3>
    <video id="localStream" width="300" controls></video>
    <video id="remoteStream" width="300" controls></video> -->
    <!-- <button (click)="answerCall()">Answer</button> -->
    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <div *ngIf="user$ | async as user" class="curruser">
            <p>You're logged in as:</p>
            <strong>{{ user.displayName }}</strong>
          </div>
        </li>
        <li class="list">
          <a href="./profile" class="nav-link">
            <i class="bi bi-body-text icon"></i>
            <span class="link">Profile</span>
          </a>
        </li>
        <li class="list">
          <a class="nav-link">
            <i class="bi bi-bell-fill icon"></i>

            <span
              *ngIf="user$ | async as user"
              class="link"
              (click)="openNotificationDialog(user)"
              >Notifications {{ user.notification.length }}</span
            >
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bi bi-chat-right-text-fill icon"></i>
            <span class="link">Messages</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bi bi-mic-fill icon"></i>
            <span class="link">Video call</span>
          </a>
        </li>
        <li class="list">
          <a href="./post" class="nav-link">
            <i class="bi bi-layout-text-sidebar-reverse icon"></i>
            <span class="link">User post</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bi bi-microsoft icon"></i>
            <span class="link">[Place holder]</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bi bi-microsoft icon"></i>
            <span class="link">[Place holder]</span>
          </a>
        </li>
        <li class="list">
          <a class="nav-link">
            <i class="bi bi-microsoft icon"></i>
            <input
              type="text"
              id="remoteId"
              placeholder="enter Id you want to call"
            />
          </a>
        </li>
      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bi bi-wrench-adjustable-circle-fill icon"></i>
            <span class="link">Settings</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link" (click)="logout()">
            <i class="bi bi-arrow-left-square-fill icon"></i>
            <span class="link">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>

<section class="overlay">
  <div class="friendlist">
    <div class="right-card-header">
      <span class="header-bold">Looking for someone?</span>
      <div class="searchbarcontainer">
        <form role="search" method="get" class="search-form form" action="">
          <label>
            <input
              type="search"
              class="search-field"
              placeholder="Type something..."
              [formControl]="searchControl"
            />
          </label>
          <div (click)="searchUser()">
            <i class="bi bi-search search-submit button"></i>
          </div>
        </form>
      </div>
    </div>

    <mat-selection-list [multiple]="false" [formControl]="chatListControl">
      <mat-divider></mat-divider>

      <mat-list-option
        style="width: 100%; height: 100%"
        *ngFor="let chat of myChats$ | async"
        [value]="chat.id"
      >
        <div style="display: flex; flex-direction: row">
          <div style="display: flex; flex-direction: row">
            <img
              class="friendlistavatar"
              [src]="chat.chatPic ? chat.chatPic : 'assets/images/avatar1.png'"
            />
            <div style="display: flex; flex-direction: column">
              <p class="chat-title">
                <span class="name-font">{{ chat.chatName }}</span>
              </p>
              <p class="chat-title">{{ chat.lastMessage }}</p>
            </div>
          </div>
          <div style="margin-left: auto; margin-right: 0">
            <p class="chat-title">
              <span class="chat-date">{{
                chat.lastMessageDate | dateDisplay
              }}</span>
            </p>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="chatarea" *ngIf="selectedChat$ | async as selectedChat">
    <div
      class="left-header-container"
      *ngIf="selectedChat$ | async as selectedChat"
    >
      <img
        class="avatarChat"
        [src]="
          selectedChat.chatPic
            ? selectedChat.chatPic
            : 'assets/images/avatar1.png'
        "
      />
      <span class="header-bold">{{ selectedChat.chatName }}</span>
      <div class="kebab-menu">
        <i
          class="bi bi-telephone-forward-fill"
          id="btn-call"
          (click)="openWindow()"
        ></i>
        <i class="bi bi-camera-video-fill"></i>
        <i class="bi bi-list-ul"></i>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="chat-area">
      <ng-container *ngIf="user$ | async as currentUser">
        <ng-container *ngIf="messages$ | async as messages">
          <div
            class="chat-bubble-container"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
            *ngFor="let message of messages"
          >
            <!-- TEXT -->
            <div *ngIf="message.text" class="chat-bubble-message">
              {{ message.text }}
              <span class="chat-time">{{
                message.sentDate | dateDisplay
              }}</span>
            </div>

            <!-- IMG -->
            <div *ngIf="message.image" class="chat-bubble-img">
              <div class="downloadbtncontainer">
                <a
                  href="{{ message.image }}"
                  target="_blank"
                  class="downloadbtn bi-arrows-angle-expand"
                ></a>
              </div>
              <img [src]="message.image" class="imgChat" />

              <span class="chat-time">{{
                message.sentDate | dateDisplay
              }}</span>
            </div>

            <!-- FILE -->
            <div *ngIf="message.file" class="chat-bubble-message">
              <a [href]="message.file" [download]="message.fileName">
                <h1>{{ message.fileName }}</h1>
              </a>
              <span class="chat-time">{{
                message.sentDate | dateDisplay
              }}</span>
            </div>
            <!-- END -->
          </div>
          <mat-toolbar class="chat-bubble-container" *ngIf="isSending == true">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-toolbar>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>

    <div class="input-area-container">
      <mat-form-field appearance="outline">
        <div class="input-area">
          <mat-icon matSuffix (click)="selectEmoji.click()"
            >sentiment_very_satisfied
          </mat-icon>

          <input
            matInput
            placeholder="Enter your message..."
            [(ngModel)]="emoji"
            [formControl]="messageControl"
            (keydown.enter)="sendMessage()"
          />

          <mat-icon matSuffix (click)="selectFile.click()">
            attach_file</mat-icon
          >

          <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
        </div>
      </mat-form-field>

      <!-- File selection-->
      <input
        style="display: none"
        type="file"
        (change)="uploadFile($event)"
        #selectFile
      />

      <!-- Emoji selection-->
      <input
        style="display: none"
        (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
        #selectEmoji
      />
      <emoji-mart
        class="emoji-mart"
        (emojiSelect)="addEmoji($event)"
        *ngIf="isEmojiPickerVisible"
        title="Choose your emoji"
      >
      </emoji-mart>
      <!-- <div class="emoji-container" #selectEmoji>
        <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible">😀</button>
      </div> -->
    </div>
  </div>
</section>
